<h1>
  {{title}}
</h1>
<courses></courses>
<authors></authors>
<property-binding></property-binding>
<class-binding></class-binding>
<style-binding></style-binding>
<event-binding></event-binding>
<twoway-binding></twoway-binding>
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>
<stars></stars>
<like [totalLikes]="10"></like>
<voter [voteCount]="post2.voteCount" [myVote]="post2.myVote" (vote)="onVote($event)"></voter>
<panel>
  <div class="heading">Title</div>
  <div class="body">This is the body</div>
</panel>
<h2>Zippy Component</h2>
<zippy title="Profile">
  Here are some profile settings
</zippy>
<zippy title="Account">
  Here are some account settings
</zippy>
<br>
<br>