<h2>Stars Component</h2>
<div>
    <i [class]="(star<1)?'glyphicon glyphicon-star-empty':'glyphicon glyphicon-star'" (click)="onClick(1)"></i>
    <i [class]="(star<2)?'glyphicon glyphicon-star-empty':'glyphicon glyphicon-star'" (click)="onClick(2)"></i>
    <i [class]="(star<3)?'glyphicon glyphicon-star-empty':'glyphicon glyphicon-star'" (click)="onClick(3)"></i>
    <i [class]="(star<4)?'glyphicon glyphicon-star-empty':'glyphicon glyphicon-star'" (click)="onClick(4)"></i>
    <i [class]="(star<5)?'glyphicon glyphicon-star-empty':'glyphicon glyphicon-star'" (click)="onClick(5)"></i>
</div>